In [63]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [64]:
df1=pd.read_csv("datasets/dataset1.csv")
df2=pd.read_csv("datasets/dataset2.csv")

C:\Users\parth\AppData\Local\Temp\ipykernel_10536\1596009049.py:1: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv("datasets/dataset1.csv")

In [65]:
df2.drop(index=0)

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
1,59.166.0.8,55986,149.171.126.5,25025,tcp,FIN,0.364941,4896,3080,31,...,0,5,6,2,1,1,1,1,NaN,0
2,59.166.0.3,42701,149.171.126.5,53,udp,CON,0.000978,132,164,31,...,0,2,3,2,4,1,1,1,NaN,0
3,59.166.0.3,7235,149.171.126.0,46544,udp,CON,0.200223,520,304,31,...,0,6,10,6,4,1,1,2,NaN,0
4,59.166.0.4,11208,149.171.126.7,25,tcp,FIN,0.031508,37154,3380,31,...,0,1,1,1,2,1,1,1,NaN,0
5,59.166.0.6,33665,149.171.126.0,50966,tcp,FIN,0.060275,2958,32408,31,...,0,8,10,6,5,1,1,3,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349997,59.166.0.8,12520,149.171.126.6,31010,tcp,FIN,0.020383,320,1874,31,...,0,8,20,7,5,1,1,4,NaN,0
349998,59.166.0.0,18895,149.171.126.9,80,tcp,FIN,1.402957,19410,1087890,31,...,0,1,1,2,7,2,2,2,NaN,0
349999,59.166.0.0,30103,149.171.126.5,5190,tcp,FIN,0.007108,2158,2464,31,...,0,13,13,6,7,2,1,2,NaN,0
350000,59.166.0.6,30388,149.171.126.5,111,udp,CON,0.004435,568,304,31,...,0,10,13,6,5,1,1,3,NaN,0
350001,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,...,0,13,13,6,7,1,1,2,NaN,0

## Combine the two dataframes into one

In [66]:
df=pd.concat([df1,df2], ignore_index=True)
df

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699996,59.166.0.8,12520,149.171.126.6,31010,tcp,FIN,0.020383,320,1874,31,...,0,8,20,7,5,1,1,4,NaN,0
699997,59.166.0.0,18895,149.171.126.9,80,tcp,FIN,1.402957,19410,1087890,31,...,0,1,1,2,7,2,2,2,NaN,0
699998,59.166.0.0,30103,149.171.126.5,5190,tcp,FIN,0.007108,2158,2464,31,...,0,13,13,6,7,2,1,2,NaN,0
699999,59.166.0.6,30388,149.171.126.5,111,udp,CON,0.004435,568,304,31,...,0,10,13,6,5,1,1,3,NaN,0
700000,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,...,0,13,13,6,7,1,1,2,NaN,0

In [67]:
df.describe()

,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,Sload,Dload,Spkts,...,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,Label
count,700001.000000,7.000010e+05,7.000010e+05,700001.000000,700001.000000,700001.000000,700001.000000,7.000010e+05,7.000010e+05,700001.000000,...,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000
mean,0.863391,5.009637e+03,4.833038e+04,38.513848,31.980783,6.330444,21.326271,6.024271e+06,3.011023e+06,41.746643,...,0.019623,0.031116,6.380239,6.034169,4.153233,4.668593,1.685498,1.401911,2.188105,0.031736
std,25.935765,4.489868e+04,1.860516e+05,39.996956,30.450757,18.855979,64.733376,5.181492e+07,4.499952e+06,80.198729,...,0.138700,0.278212,5.075147,4.635608,3.740439,4.189667,1.871052,1.426013,2.211199,0.175296
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,0.003931,4.240000e+02,3.040000e+02,31.000000,29.000000,0.000000,0.000000,7.885915e+04,7.640437e+04,4.000000,...,0.000000,0.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000
50%,0.027594,2.024000e+03,3.380000e+03,31.000000,29.000000,4.000000,5.000000,5.362718e+05,6.686759e+05,16.000000,...,0.000000,0.000000,5.000000,5.000000,3.000000,4.000000,1.000000,1.000000,1.000000,0.000000
75%,0.346518,3.806000e+03,2.243200e+04,31.000000,29.000000,7.000000,16.000000,1.078489e+06,3.856223e+06,52.000000,...,0.000000,0.000000,9.000000,8.000000,5.000000,6.000000,2.000000,1.000000,3.000000,0.000000
max,8786.637695,1.367739e+07,1.465542e+07,255.000000,254.000000,5096.000000,5483.000000,5.268000e+09,1.287619e+08,10200.000000,...,1.000000,8.000000,44.000000,42.000000,42.000000,50.000000,36.000000,34.000000,38.000000,1.000000

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700001 entries, 0 to 700000
Data columns (total 49 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   srcip             700001 non-null  object
 1   sport             700001 non-null  object
 2   dstip             700001 non-null  object
 3   dsport            700001 non-null  object
 4   proto             700001 non-null  object
 5   state             700001 non-null  object
 6   dur               700001 non-null  float64
 7   sbytes            700001 non-null  int64
 8   dbytes            700001 non-null  int64
 9   sttl              700001 non-null  int64
 10  dttl              700001 non-null  int64
 11  sloss             700001 non-null  int64
 12  dloss             700001 non-null  int64
 13  service           700001 non-null  object
 14  Sload             700001 non-null  float64
 15  Dload             700001 non-null  float64
 16  Spkts             700001 non-null  int64
 17  Dpkts             700001 non-null  int64
 18  swin              700001 non-null  int64
 19  dwin              700001 non-null  int64
 20  stcpb             700001 non-null  int64
 21  dtcpb             700001 non-null  int64
 22  smeansz           700001 non-null  int64
 23  dmeansz           700001 non-null  int64
 24  trans_depth       700001 non-null  int64
 25  res_bdy_len       700001 non-null  int64
 26  Sjit              700001 non-null  float64
 27  Djit              700001 non-null  float64
 28  Stime             700001 non-null  int64
 29  Ltime             700001 non-null  int64
 30  Sintpkt           700001 non-null  float64
 31  Dintpkt           700001 non-null  float64
 32  tcprtt            700001 non-null  float64
 33  synack            700001 non-null  float64
 34  ackdat            700001 non-null  float64
 35  is_sm_ips_ports   700001 non-null  int64
 36  ct_state_ttl      700001 non-null  int64
 37  ct_flw_http_mthd  700001 non-null  int64
 38  is_ftp_login      700001 non-null  int64
 39  ct_ftp_cmd        700001 non-null  int64
 40  ct_srv_src        700001 non-null  int64
 41  ct_srv_dst        700001 non-null  int64
 42  ct_dst_ltm        700001 non-null  int64
 43  ct_src_ ltm       700001 non-null  int64
 44  ct_src_dport_ltm  700001 non-null  int64
 45  ct_dst_sport_ltm  700001 non-null  int64
 46  ct_dst_src_ltm    700001 non-null  int64
 47  attack_cat        22215 non-null   object
 48  Label             700001 non-null  int64
dtypes: float64(10), int64(31), object(8)
memory usage: 261.7+ MB

### Dropping all the columns that are objects

In [69]:
columns_to_drop = []
for i in df.columns:
    if(df[i].dtype == "object"):
        columns_to_drop.append(i)

df_corr = df.drop(columns=columns_to_drop)
df_corr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700001 entries, 0 to 700000
Data columns (total 41 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   dur               700001 non-null  float64
 1   sbytes            700001 non-null  int64
 2   dbytes            700001 non-null  int64
 3   sttl              700001 non-null  int64
 4   dttl              700001 non-null  int64
 5   sloss             700001 non-null  int64
 6   dloss             700001 non-null  int64
 7   Sload             700001 non-null  float64
 8   Dload             700001 non-null  float64
 9   Spkts             700001 non-null  int64
 10  Dpkts             700001 non-null  int64
 11  swin              700001 non-null  int64
 12  dwin              700001 non-null  int64
 13  stcpb             700001 non-null  int64
 14  dtcpb             700001 non-null  int64
 15  smeansz           700001 non-null  int64
 16  dmeansz           700001 non-null  int64
 17  trans_depth       700001 non-null  int64
 18  res_bdy_len       700001 non-null  int64
 19  Sjit              700001 non-null  float64
 20  Djit              700001 non-null  float64
 21  Stime             700001 non-null  int64
 22  Ltime             700001 non-null  int64
 23  Sintpkt           700001 non-null  float64
 24  Dintpkt           700001 non-null  float64
 25  tcprtt            700001 non-null  float64
 26  synack            700001 non-null  float64
 27  ackdat            700001 non-null  float64
 28  is_sm_ips_ports   700001 non-null  int64
 29  ct_state_ttl      700001 non-null  int64
 30  ct_flw_http_mthd  700001 non-null  int64
 31  is_ftp_login      700001 non-null  int64
 32  ct_ftp_cmd        700001 non-null  int64
 33  ct_srv_src        700001 non-null  int64
 34  ct_srv_dst        700001 non-null  int64
 35  ct_dst_ltm        700001 non-null  int64
 36  ct_src_ ltm       700001 non-null  int64
 37  ct_src_dport_ltm  700001 non-null  int64
 38  ct_dst_sport_ltm  700001 non-null  int64
 39  ct_dst_src_ltm    700001 non-null  int64
 40  Label             700001 non-null  int64
dtypes: float64(10), int64(31)
memory usage: 219.0 MB

count the number of null values in the dataframe

In [70]:
df_null=df.isnull().sum()
# only prints the cols which have null values
df_null[df_null > 0]

attack_cat    677786
dtype: int64

### Filling the null values of "attack_cat" column with no attack

In [71]:
df["attack_cat"].fillna("No attack", inplace=True)
df

C:\Users\parth\AppData\Local\Temp\ipykernel_10536\1117957727.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["attack_cat"].fillna("No attack", inplace=True)

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,No attack,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,No attack,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,No attack,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,No attack,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,No attack,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699996,59.166.0.8,12520,149.171.126.6,31010,tcp,FIN,0.020383,320,1874,31,...,0,8,20,7,5,1,1,4,No attack,0
699997,59.166.0.0,18895,149.171.126.9,80,tcp,FIN,1.402957,19410,1087890,31,...,0,1,1,2,7,2,2,2,No attack,0
699998,59.166.0.0,30103,149.171.126.5,5190,tcp,FIN,0.007108,2158,2464,31,...,0,13,13,6,7,2,1,2,No attack,0
699999,59.166.0.6,30388,149.171.126.5,111,udp,CON,0.004435,568,304,31,...,0,10,13,6,5,1,1,3,No attack,0
700000,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,...,0,13,13,6,7,1,1,2,No attack,0

### No null values now

In [72]:
df_null=df.isnull().sum()
df_null[df_null > 0]
# only prints the cols which have null values

Series([], dtype: int64)

In [73]:
# df.to_csv(path_or_buf="datasets/dataset.csv", index=False)

In [74]:
duplicate_rows = df[df.duplicated()]
print(f"Number of duplicate rows: {len(duplicate_rows)}")

Number of duplicate rows: 59210

In [75]:
duplicate_rows

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
11,10.40.170.2,0,10.40.170.2,0,arp,INT,0.000000,46,0,0,...,0,2,2,2,2,2,2,2,No attack,0
12,10.40.182.3,0,10.40.182.3,0,arp,INT,0.000000,46,0,0,...,0,2,2,2,2,2,2,2,No attack,0
72,59.166.0.6,15807,149.171.126.7,53,udp,CON,0.001118,132,164,31,...,0,12,8,5,3,3,2,2,No attack,0
121,10.40.182.1,0,224.0.0.5,0,ospf,INT,50.004337,384,0,1,...,0,2,4,4,2,2,4,2,No attack,0
122,10.40.85.1,0,224.0.0.5,0,ospf,INT,50.004341,384,0,1,...,0,2,4,4,2,2,4,2,No attack,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699222,59.166.0.5,54517,149.171.126.2,143,tcp,FIN,1.764893,7818,15448,31,...,0,15,14,2,3,2,2,2,No attack,0
699335,10.40.85.30,0,10.40.85.1,0,arp,CON,31.079002,184,112,0,...,0,2,2,2,2,2,2,2,No attack,0
699524,10.40.85.1,0,10.40.85.30,0,arp,CON,48.059589,84,138,0,...,0,2,2,2,2,2,2,2,No attack,0
699649,59.166.0.0,46785,149.171.126.2,5190,tcp,FIN,0.004181,1064,2260,31,...,0,16,15,3,2,2,2,2,No attack,0
699867,10.40.182.1,0,10.40.182.3,0,arp,CON,43.468670,84,138,0,...,0,2,2,2,2,2,2,2,No attack,0

In [76]:
correlation_matrix=df_corr.corr()
correlation_matrix

,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,Sload,Dload,Spkts,...,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,Label
dur,1.000000,0.015770,0.062593,-0.005093,-0.002352,0.024128,0.063253,-0.003819,-0.018964,0.061359,...,0.003263,0.002949,0.004165,0.007202,0.016701,0.010504,0.037206,0.049755,0.025708,0.002184
sbytes,0.015770,1.000000,0.066491,0.007632,0.059810,0.911009,0.073192,-0.007109,-0.019766,0.490760,...,-0.006617,-0.005245,-0.014929,-0.014442,0.004517,0.002703,0.013395,0.021625,0.005249,0.032486
dbytes,0.062593,0.066491,1.000000,-0.046885,-0.013104,0.149140,0.991269,-0.029047,0.039918,0.804177,...,-0.033932,-0.026829,0.136800,0.151541,0.124249,0.096648,0.233102,0.231843,0.154576,-0.037494
sttl,-0.005093,0.007632,-0.046885,1.000000,0.401775,-0.028608,-0.058075,0.326557,-0.125435,-0.071840,...,-0.025798,-0.020621,0.074675,0.066884,-0.051006,-0.040535,0.125570,0.105312,0.070970,0.836553
dttl,-0.002352,0.059810,-0.013104,0.401775,1.000000,0.049744,-0.014777,-0.104441,-0.064031,-0.000717,...,-0.010222,-0.009138,-0.077045,-0.097448,-0.089338,-0.082037,-0.059022,-0.067535,-0.070865,0.453985
sloss,0.024128,0.911009,0.149140,-0.028608,0.049744,1.000000,0.203287,-0.030643,0.023170,0.666248,...,0.034432,0.027031,0.034565,0.037987,0.032725,0.026851,0.044647,0.064510,0.026583,-0.002303
dloss,0.063253,0.073192,0.991269,-0.058075,-0.014777,0.203287,1.000000,-0.035689,0.057003,0.848731,...,-0.014104,-0.011215,0.143567,0.157483,0.128670,0.101708,0.233405,0.239050,0.155631,-0.046677
Sload,-0.003819,-0.007109,-0.029047,0.326557,-0.104441,-0.030643,-0.035689,1.000000,-0.061609,-0.050257,...,-0.015855,-0.012540,0.064719,0.069337,-0.008116,-0.008843,0.101624,0.071470,0.069281,0.253598
Dload,-0.018964,-0.019766,0.039918,-0.125435,-0.064031,0.023170,0.057003,-0.061609,1.000000,0.112796,...,-0.085940,-0.068029,0.164182,0.113055,-0.062656,-0.001076,-0.122246,-0.079509,-0.114606,-0.120050
Spkts,0.061359,0.490760,0.804177,-0.071840,-0.000717,0.666248,0.848731,-0.050257,0.112796,1.000000,...,0.017332,0.013560,0.140484,0.148034,0.111609,0.092993,0.190526,0.215511,0.121642,-0.054768
Dpkts,0.063858,0.119169,0.971289,-0.067739,-0.015721,0.283710,0.992938,-0.042106,0.059081,0.892398,...,-0.001843,-0.001535,0.146550,0.160798,0.130681,0.103716,0.231727,0.240583,0.154144,-0.055334
swin,0.001482,0.067816,0.166666,-0.117263,0.140470,0.216265,0.212221,-0.143274,0.354600,0.313772,...,0.091135,0.072045,0.089055,0.066306,0.058407,0.070685,0.005326,0.023591,0.023890,-0.110972
dwin,0.001556,0.067965,0.167087,-0.123677,0.142120,0.216736,0.212755,-0.146955,0.355702,0.314549,...,0.091365,0.072227,0.088138,0.065841,0.059103,0.071313,0.006004,0.024075,0.023403,-0.110475
stcpb,0.000883,0.046528,0.112846,-0.084116,0.098822,0.148360,0.144349,-0.099151,0.242273,0.214360,...,0.061675,0.049002,0.059626,0.043865,0.039002,0.048154,0.002572,0.014141,0.014668,-0.074101
dtcpb,0.000894,0.046423,0.113171,-0.085490,0.095931,0.149973,0.145097,-0.100442,0.244062,0.216015,...,0.064171,0.052974,0.060558,0.044019,0.039353,0.048435,0.001399,0.013566,0.016115,-0.076247
smeansz,-0.007211,0.207023,-0.108736,0.022161,0.060600,0.149424,-0.110762,0.094143,-0.229504,-0.029135,...,-0.063253,-0.050003,-0.116426,-0.106400,0.021812,0.008099,-0.036577,-0.018407,0.037519,0.021810
dmeansz,0.025513,0.013720,0.621719,-0.168674,-0.036497,0.079842,0.621840,-0.103338,0.507145,0.549169,...,-0.112245,-0.088739,0.163725,0.132806,0.039097,0.053740,0.060679,0.093578,-0.005576,-0.136598
trans_depth,0.009051,-0.011216,0.106771,-0.037657,0.012607,-0.055685,0.087244,-0.034325,-0.168512,0.013403,...,-0.042645,-0.033712,-0.142038,-0.143042,0.031528,0.016695,0.073703,0.081787,-0.013368,-0.022612
res_bdy_len,0.024491,0.026852,0.506492,-0.018030,-0.006766,-0.022339,0.485557,-0.011355,-0.001392,0.344263,...,-0.013943,-0.011022,-0.063694,-0.063634,-0.001462,-0.013131,0.016851,0.023147,-0.009347,-0.015595
Sjit,0.020057,0.001470,0.041831,0.094375,0.151734,0.007932,0.039508,-0.012813,-0.070614,0.027526,...,0.004489,0.004233,-0.010282,-0.012128,0.016033,0.005954,0.053477,0.054918,0.024844,0.075497
Djit,0.024494,0.001078,0.107310,-0.022276,0.010896,0.019878,0.103946,-0.021416,-0.112033,0.077647,...,-0.022608,-0.017914,-0.023051,-0.021897,0.038209,0.019657,0.086812,0.102312,0.036803,-0.011419
Stime,0.000360,-0.004295,0.024614,-0.246462,-0.142307,0.013783,0.029440,-0.113903,0.052038,0.035070,...,0.028506,0.034527,0.037289,0.037645,0.117858,0.117064,0.045225,0.067104,0.068399,-0.227914
Ltime,0.003656,-0.004245,0.024808,-0.246499,-0.142341,0.013851,0.029634,-0.113916,0.051950,0.035257,...,0.028510,0.034531,0.037281,0.037646,0.117906,0.117093,0.045367,0.067307,0.068491,-0.227906
Sintpkt,0.042387,-0.008489,-0.019766,-0.064772,-0.072808,-0.026070,-0.025260,-0.008522,-0.054715,-0.038258,...,-0.010419,-0.008182,-0.065383,-0.063237,-0.039385,-0.048506,0.014815,0.043993,-0.005927,-0.008215
Dintpkt,0.056914,-0.005596,-0.014587,-0.036137,-0.032525,-0.017780,-0.018498,-0.007229,-0.041304,-0.027073,...,-0.006548,-0.005077,-0.045272,-0.046956,-0.029885,-0.033397,0.012380,0.024597,-0.003365,0.001983
tcprtt,0.004031,0.029174,-0.018344,0.413582,0.677314,0.016413,-0.021631,-0.014243,-0.066246,-0.019181,...,-0.012679,-0.010445,-0.033480,-0.047624,-0.068337,-0.063973,-0.011812,-0.025323,-0.034232,0.331373
synack,0.003905,0.023317,-0.016782,0.387207,0.631321,0.012831,-0.019635,-0.014314,-0.059848,-0.017849,...,-0.011946,-0.009727,-0.027424,-0.040418,-0.061450,-0.057362,-0.007048,-0.023336,-0.030637,0.296306
ackdat,0.003681,0.031913,-0.017808,0.392075,0.645075,0.018260,-0.021163,-0.012459,-0.065115,-0.018300,...,-0.011939,-0.009958,-0.035915,-0.049587,-0.067479,-0.063342,-0.015470,-0.024403,-0.033955,0.328984
is_sm_ips_ports,0.003100,-0.005529,-0.013001,-0.048011,-0.052563,-0.016801,-0.016488,-0.005811,-0.033488,-0.025385,...,-0.007081,-0.005597,-0.043393,-0.043487,-0.029018,-0.032117,0.007877,0.020449,-0.004711,-0.009061
ct_state_ttl,0.002362,0.020127,-0.043311,0.821266,0.255645,-0.018124,-0.054349,0.299297,-0.124837,-0.066597,...,-0.025179,-0.020293,0.066366,0.059354,-0.048146,-0.040328,0.122883,0.109073,0.075247,0.742853
ct_flw_http_mthd,0.004866,-0.009458,0.043021,-0.030686,-0.004007,-0.036615,0.030920,-0.022971,-0.116412,-0.011245,...,-0.028468,-0.022505,-0.003015,-0.002892,0.141782,0.123230,0.198363,0.221069,0.107534,-0.024534
is_ftp_login,0.003263,-0.006617,-0.033932,-0.025798,-0.010222,0.034432,-0.014104,-0.015855,-0.085940,0.017332,...,1.000000,0.785979,-0.101119,-0.100725,0.123508,0.105201,0.066019,0.104876,0.173301,-0.022793
ct_ftp_cmd,0.002949,-0.005245,-0.026829,-0.020621,-0.009138,0.027031,-0.011215,-0.012540,-0.068029,0.013560,...,0.785979,1.000000,-0.053095,-0.050620,0.185714,0.166565,0.123645,0.174212,0.247032,-0.018842
ct_srv_src,0.004165,-0.014929,0.136800,0.074675,-0.077045,0.034565,0.143567,0.064719,0.164182,0.140484,...,-0.101119,-0.053095,1.000000,0.628593,0.331943,0.521839,0.424786,0.359552,0.428192,0.030082
ct_srv_dst,0.007202,-0.014442,0.151541,0.066884,-0.097448,0.037987,0.157483,0.069337,0.113055,0.148034,...,-0.100725,-0.050620,0.628593,1.000000,0.516286,0.328662,0.409797,0.371494,0.452264,0.023830
ct_dst_ltm,0.016701,0.004517,0.124249,-0.051006,-0.089338,0.032725,0.128670,-0.008116,-0.062656,0.111609,...,0.123508,0.185714,0.331943,0.516286,1.000000,0.610738,0.600336,0.607721,0.752249,-0.056345
ct_src_ ltm,0.010504,0.002703,0.096648,-0.040535,-0.082037,0.026851,0.101708,-0.008843,-0.001076,0.092993,...,0.105201,0.166565,0.521839,0.328662,0.610738,1.000000,0.624539,0.570572,0.714599,-0.045965
ct_src_dport_ltm,0.037206,0.013395,0.233102,0.125570,-0.059022,0.044647,0.233405,0.101624,-0.122246,0.190526,...,0.066019,0.123645,0.424786,0.409797,0.600336,0.624539,1.000000,0.823565,0.749311,0.106179
ct_dst_sport_ltm,0.049755,0.021625,0.231843,0.105312,-0.067535,0.064510,0.239050,0.071470,-0.079509,0.215511,...,0.104876,0.174212,0.359552,0.371494,0.607721,0.570572,0.823565,1.000000,0.719214,0.110409
ct_dst_src_ltm,0.025708,0.005249,0.154576,0.070970,-0.070865,0.026583,0.155631,0.069281,-0.114606,0.121642,...,0.173301,0.247032,0.428192,0.452264,0.752249,0.714599,0.749311,0.719214,1.000000,0.053946
Label,0.002184,0.032486,-0.037494,0.836553,0.453985,-0.002303,-0.046677,0.253598,-0.120050,-0.054768,...,-0.022793,-0.018842,0.030082,0.023830,-0.056345,-0.045965,0.106179,0.110409,0.053946,1.000000

Here, all the columns which havve a correlation of >0.6 or <-0.6 has been put into a dictionary

In [77]:
correlation_dict={}
for i in range(len(correlation_matrix.columns)):
    for j in range(i + 1, len(correlation_matrix.columns)):
        col1 = correlation_matrix.columns[i]
        col2 = correlation_matrix.columns[j]
        corr_coeff = correlation_matrix.iloc[i, j]

        if corr_coeff > 0.6 or corr_coeff < -0.6:
            correlation_dict[corr_coeff]=[col1,col2]
print(correlation_dict)

{np.float64(0.9110089358643493): ['sbytes', 'sloss'], np.float64(0.991269317582604): ['dbytes', 'dloss'], np.float64(0.8041767260247574): ['dbytes', 'Spkts'], np.float64(0.9712889663687413): ['dbytes', 'Dpkts'], np.float64(0.6217191316703511): ['dbytes', 'dmeansz'], np.float64(0.8212658459624333): ['sttl', 'ct_state_ttl'], np.float64(0.8365527653576119): ['sttl', 'Label'], np.float64(0.6773136525781461): ['dttl', 'tcprtt'], np.float64(0.631320963673282): ['dttl', 'synack'], np.float64(0.6450753032959713): ['dttl', 'ackdat'], np.float64(0.666247947305479): ['sloss', 'Spkts'], np.float64(0.8487311166588557): ['dloss', 'Spkts'], np.float64(0.9929383856976723): ['dloss', 'Dpkts'], np.float64(0.6218398862720546): ['dloss', 'dmeansz'], np.float64(0.8923976223108169): ['Spkts', 'Dpkts'], np.float64(0.6088401630338564): ['Dpkts', 'dmeansz'], np.float64(0.9974637990155709): ['swin', 'dwin'], np.float64(0.6827766951677926): ['swin', 'stcpb'], np.float64(0.6825193399142735): ['swin', 'dtcpb'], np.float64(0.6828249632735142): ['dwin', 'stcpb'], np.float64(0.6832726190445279): ['dwin', 'dtcpb'], np.float64(0.7331830958102403): ['trans_depth', 'ct_flw_http_mthd'], np.float64(0.9999838647521405): ['Stime', 'Ltime'], np.float64(0.8114064686982068): ['Sintpkt', 'is_sm_ips_ports'], np.float64(0.9455860395908328): ['tcprtt', 'synack'], np.float64(0.938034256331154): ['tcprtt', 'ackdat'], np.float64(0.7742368021830073): ['synack', 'ackdat'], np.float64(0.7428530575273187): ['ct_state_ttl', 'Label'], np.float64(0.7859788221880055): ['is_ftp_login', 'ct_ftp_cmd'], np.float64(0.6285926568582567): ['ct_srv_src', 'ct_srv_dst'], np.float64(0.6107378571867416): ['ct_dst_ltm', 'ct_src_ ltm'], np.float64(0.6003358942193041): ['ct_dst_ltm', 'ct_src_dport_ltm'], np.float64(0.6077208474763209): ['ct_dst_ltm', 'ct_dst_sport_ltm'], np.float64(0.752249067958415): ['ct_dst_ltm', 'ct_dst_src_ltm'], np.float64(0.6245387895039111): ['ct_src_ ltm', 'ct_src_dport_ltm'], np.float64(0.7145987461810496): ['ct_src_ ltm', 'ct_dst_src_ltm'], np.float64(0.8235654981651832): ['ct_src_dport_ltm', 'ct_dst_sport_ltm'], np.float64(0.7493111421312222): ['ct_src_dport_ltm', 'ct_dst_src_ltm'], np.float64(0.7192139553032089): ['ct_dst_sport_ltm', 'ct_dst_src_ltm']}

# Feature encoding

considering the column "proto"

In [78]:
proto_unique=df["proto"].unique()
print(proto_unique)
print(df["proto"].nunique())

['udp' 'arp' 'tcp' 'ospf' 'icmp' 'igmp' 'sctp' 'udt' 'sep' 'sun-nd'
 'swipe' 'mobile' 'pim' 'rtp' 'ipnip' 'ip' 'ggp' 'st2' 'egp' 'cbt' 'emcon'
 'nvp' 'igp' 'xnet' 'argus' 'bbn-rcc' 'chaos' 'pup' 'hmp' 'mux' 'dcn'
 'prm' 'trunk-1' 'xns-idp' 'trunk-2' 'leaf-1' 'leaf-2' 'irtp' 'rdp'
 'iso-tp4' 'netblt' 'mfe-nsp' 'merit-inp' '3pc' 'xtp' 'idpr' 'tp++' 'ddp'
 'idpr-cmtp' 'ipv6' 'il' 'idrp' 'ipv6-frag' 'sdrp' 'ipv6-route' 'gre'
 'rsvp' 'mhrp' 'bna' 'esp' 'i-nlsp' 'narp' 'ipv6-no' 'tlsp' 'skip'
 'ipv6-opts' 'any' 'cftp' 'sat-expak' 'kryptolan' 'rvd' 'ippc' 'sat-mon'
 'ipcv' 'visa' 'cpnx' 'cphb' 'wsn' 'pvp' 'br-sat-mon' 'wb-mon' 'wb-expak'
 'iso-ip' 'secure-vmtp' 'vmtp' 'vines' 'ttp' 'nsfnet-igp' 'dgp' 'tcf'
 'eigrp' 'sprite-rpc' 'larp' 'mtp' 'ax.25' 'ipip' 'micp' 'aes-sp3-d'
 'encap' 'etherip' 'pri-enc' 'gmtp' 'pnni' 'ifmp' 'aris' 'qnx' 'a/n'
 'scps' 'snp' 'ipcomp' 'compaq-peer' 'ipx-n-ip' 'vrrp' 'zero' 'pgm' 'iatp'
 'ddx' 'l2tp' 'srp' 'stp' 'smp' 'uti' 'sm' 'ptp' 'fire' 'crtp' 'isis'
 'crudp' 'sccopmce' 'sps' 'pipe' 'iplt' 'unas' 'fc' 'ib']
135

In [79]:
# proto_encoding={}
# for i in range(135):
#     proto_encoding[i]=proto_unique[i]

In [80]:
df_encoded=df

In [ ]:
label_encoder = LabelEncoder()
df_encoded['proto'] = label_encoder.fit_transform(df_encoded['proto'])
df_encoded['state'] = label_encoder.fit_transform(df_encoded['state'])
df_encoded['service'] = label_encoder.fit_transform(df_encoded['service'])
df_encoded['attack_cat'] = label_encoder.fit_transform(df_encoded['attack_cat'])
df_encoded

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,30,1390,149.171.126.6,53,120,2,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,6,0
1,30,33661,149.171.126.9,1024,120,2,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,6,0
2,36,1464,149.171.126.7,53,120,2,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,6,0
3,35,3593,149.171.126.5,53,120,2,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,6,0
4,33,49664,149.171.126.0,53,120,2,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699996,38,12520,149.171.126.6,31010,114,5,0.020383,320,1874,31,...,0,8,20,7,5,1,1,4,6,0
699997,30,18895,149.171.126.9,80,114,5,1.402957,19410,1087890,31,...,0,1,1,2,7,2,2,2,6,0
699998,30,30103,149.171.126.5,5190,114,5,0.007108,2158,2464,31,...,0,13,13,6,7,2,1,2,6,0
699999,36,30388,149.171.126.5,111,120,2,0.004435,568,304,31,...,0,10,13,6,5,1,1,3,6,0
700000,30,6055,149.171.126.5,54145,114,5,0.072974,4238,60788,31,...,0,13,13,6,7,1,1,2,6,0

In [89]:
# label_encoder = LabelEncoder()
# for i in df_encoded.columns:
#     if(df_encoded[i].dtype == "object"):
#         df_encoded[i] = label_encoder.fit_transform(df_encoded[i])