In [2]:
import pandas as pd
import numpy as np

In [7]:
df1=pd.read_csv("datasets/dataset1.csv")
df2=pd.read_csv("datasets/dataset2.csv")

C:\Users\parth\AppData\Local\Temp\ipykernel_12060\1596009049.py:1: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv("datasets/dataset1.csv")

In [9]:
df1.describe()

,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,Sload,Dload,Spkts,...,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,Label
count,349999.000000,3.499990e+05,3.499990e+05,349999.000000,349999.000000,349999.000000,349999.000000,3.499990e+05,3.499990e+05,349999.000000,...,349999.000000,349999.000000,349999.000000,349999.000000,349999.000000,349999.000000,349999.000000,349999.000000,349999.000000,349999.000000
mean,0.738266,5.031618e+03,4.079947e+04,46.283624,35.219106,5.954308,18.374370,1.092311e+07,2.869578e+06,37.751562,...,0.014134,0.014503,5.981900,5.682445,3.338967,3.770679,1.413433,1.144069,1.826128,0.063472
std,3.757571,6.202322e+04,1.681682e+05,55.417404,42.730364,24.396880,58.814591,7.238786e+07,4.445433e+06,80.267127,...,0.118045,0.123825,4.441185,4.101836,2.035297,2.398857,1.203917,0.643260,1.355005,0.243810
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,0.001766,3.200000e+02,2.680000e+02,31.000000,29.000000,0.000000,0.000000,8.387371e+04,7.399403e+04,4.000000,...,0.000000,0.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000
50%,0.024908,1.684000e+03,3.080000e+03,31.000000,29.000000,4.000000,5.000000,5.428771e+05,6.592065e+05,14.000000,...,0.000000,0.000000,5.000000,5.000000,3.000000,3.000000,1.000000,1.000000,1.000000,0.000000
75%,0.309705,3.728000e+03,1.692000e+04,31.000000,29.000000,7.000000,15.000000,1.197542e+06,3.742678e+06,48.000000,...,0.000000,0.000000,9.000000,8.000000,4.000000,5.000000,1.000000,1.000000,2.000000,0.000000
max,59.999527,1.367739e+07,1.465542e+07,255.000000,254.000000,5096.000000,5483.000000,5.268000e+09,6.260000e+07,10200.000000,...,1.000000,6.000000,39.000000,39.000000,25.000000,25.000000,21.000000,21.000000,21.000000,1.000000

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349999 entries, 0 to 349998
Data columns (total 49 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   srcip             349999 non-null  object
 1   sport             349999 non-null  object
 2   dstip             349999 non-null  object
 3   dsport            349999 non-null  object
 4   proto             349999 non-null  object
 5   state             349999 non-null  object
 6   dur               349999 non-null  float64
 7   sbytes            349999 non-null  int64
 8   dbytes            349999 non-null  int64
 9   sttl              349999 non-null  int64
 10  dttl              349999 non-null  int64
 11  sloss             349999 non-null  int64
 12  dloss             349999 non-null  int64
 13  service           349999 non-null  object
 14  Sload             349999 non-null  float64
 15  Dload             349999 non-null  float64
 16  Spkts             349999 non-null  int64
 17  Dpkts             349999 non-null  int64
 18  swin              349999 non-null  int64
 19  dwin              349999 non-null  int64
 20  stcpb             349999 non-null  int64
 21  dtcpb             349999 non-null  int64
 22  smeansz           349999 non-null  int64
 23  dmeansz           349999 non-null  int64
 24  trans_depth       349999 non-null  int64
 25  res_bdy_len       349999 non-null  int64
 26  Sjit              349999 non-null  float64
 27  Djit              349999 non-null  float64
 28  Stime             349999 non-null  int64
 29  Ltime             349999 non-null  int64
 30  Sintpkt           349999 non-null  float64
 31  Dintpkt           349999 non-null  float64
 32  tcprtt            349999 non-null  float64
 33  synack            349999 non-null  float64
 34  ackdat            349999 non-null  float64
 35  is_sm_ips_ports   349999 non-null  int64
 36  ct_state_ttl      349999 non-null  int64
 37  ct_flw_http_mthd  349999 non-null  int64
 38  is_ftp_login      349999 non-null  int64
 39  ct_ftp_cmd        349999 non-null  int64
 40  ct_srv_src        349999 non-null  int64
 41  ct_srv_dst        349999 non-null  int64
 42  ct_dst_ltm        349999 non-null  int64
 43  ct_src_ ltm       349999 non-null  int64
 44  ct_src_dport_ltm  349999 non-null  int64
 45  ct_dst_sport_ltm  349999 non-null  int64
 46  ct_dst_src_ltm    349999 non-null  int64
 47  attack_cat        22215 non-null   object
 48  Label             349999 non-null  int64
dtypes: float64(10), int64(31), object(8)
memory usage: 130.8+ MB

In [18]:
na_col_count=[]
for col in df1.columns.values:
    na_count=df1[col].isna().count()
    na_col_count.append(na_count)
na_col_count

[np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999),
 np.int64(349999)]